
<h1>New Page I hope</h1>


<%= form_with scope: :page, url: pages_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :pagetitle %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :body %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>